@import "../../../assets/scss/colors.scss";
@import "../../../assets/scss/constants.scss";

.container {
    width: 100%;
    margin: 0 auto 20px auto;
    background-color: $veryLightGray;
    border-radius: $borderRadiusMd;
    transition: $themeChangeTransition;

    .singleItem {
        padding: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid $lightGrayishBlue;

        .circle {
            width: 25px;
            min-width: 25px;
            height: 25px;
            border-radius: 100%;
            margin-right: 15px;
            border: 1px solid $lightGrayishBlue;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            & img {
                display: none;
                width: 50%;
                height: 50%;
                border-radius: 100%;
                object-fit: cover;
            }
        }

        .content {
            width: 100%;
            max-width: 447px;
            align-self: center;
            text-align: left;
            color: $veryDarkGrayishBlue;
            cursor: pointer;
            word-wrap: break-word;
        }

        .closeButton {
            width: 20px;
            min-width: 20px;
            height: 20px;
            position: relative;
            cursor: pointer;   
            margin-left: 15px;   

            & span {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $lightGrayishBlue;
                transform: rotate(-45deg);
                transition: $themeChangeTransition;

                &:last-child {
                    transform: rotate(45deg);
                }
            }

            &:hover {
                & span {
                    background-color: $veryDarkGrayishBlue;
                }
            }
        }

        &.done {
            .circle {
                border: none;
                background: $checkBackground;

                & img {
                    display: block;
                }
            }
            .content {
                text-decoration: line-through;
                color: $lightGrayishBlue;
            }
        }
    }

    &.darkTheme {
            background-color: $veryDarkDesaturatedBlue;

            .singleItem {
                border-color: $darkThemeDarkGrayishBlue;

                .circle {
                    border-color: $darkThemeDarkGrayishBlue;
                }
        
                .content {
                    color: $darkThemeLightGrayishBlue
                }
        
                .closeButton {
                    & span {
                        background-color: $darkThemeDarkGrayishBlue;
                    }

                    &:hover {
                        & span {
                            background-color: $lightGrayishBlue;
                        }
                    }
                }

                &.done {
                    .content {
                        color: $darkThemeDarkGrayishBlue
                    }
                }
            }
    
    }
}

@media screen and (min-width: 600px) {
    .container {
        .singleItem {
            padding: 20px;
    
            .circle {
                width: 30px;
                min-width: 30px;
                height: 30px;
                margin-right: 20px;
            }

            .content {
                font-size: 18px;
            }
    
            .closeButton {
                width: 25px;
                min-width: 25px;
                height: 25px;
                margin-left: 20px;
            }
        }
    }
}