<mat-spinner
  *ngIf="loading"
  [class.darkTheme]="darkTheme"
  diameter="50"
></mat-spinner>

<div
  class="container"
  [class.darkTheme]="darkTheme"
  *ngIf="dataList.length > 0"
>
  <div
    class="singleItem"
    [class.done]="item.payload.done"
    *ngFor="let item of dataList"
  >
    <div class="circle" (click)="changeDone(item.id, !item.payload.done)">
      <img src="../../../assets/images/icon-check.svg" alt="done" />
    </div>
    <div class="content" (click)="changeDone(item.id, !item.payload.done)">
      {{ item.payload.text }}
    </div>
    <div class="closeButton" (click)="deleteItem(item.id)">
      <span></span>
      <span></span>
    </div>
  </div>
</div>
