$maxWidth: 800px;

$smallWrapperPadding: 20px;
$mediumWrapperPadding: 40px;
$largeWrapperPadding: 60px;

$borderRadiusSm: 4px;
$borderRadiusMd: 8px;
$borderRadiusLg: 12px;

$themeChangeTransition: 0.2s;