<main>
  <div class="backgroundImage">
    <img
      [@fade]
      *ngIf="darkTheme"
      src="../assets/images/bg-mobile-dark.jpg"
      alt="dark theme background"
    />
    <img
      [@fade]
      *ngIf="!darkTheme"
      src="../assets/images/bg-mobile-light.jpg"
      alt="light theme background"
    />
  </div>
  <header>
    <a href="">todo</a>

    <div class="themeButton" (click)="handleThemeChange()">
      <img
        [@fade]
        *ngIf="darkTheme; else elseButtonContent"
        src="../assets/images/icon-sun.svg"
        alt="sun"
      />

      <ng-template #elseButtonContent>
        <img [@fade] src="../assets/images/icon-moon.svg" alt="moon" />
      </ng-template>
    </div>
  </header>
  <router-outlet></router-outlet>
</main>
