@import "../../../assets/scss/colors.scss";
@import "../../../assets/scss/constants.scss";

.container {
    width: 100%;
    max-width: 700px;
    padding: 15px;
    margin: 0 auto 20px auto;
    background-color: $veryLightGray;
    border-radius: $borderRadiusMd;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: $themeChangeTransition;

    .circle {
        width: 25px;
        min-width: 25px;
        height: 25px;
        border-radius: 100%;
        margin-right: 15px;
        border: 1px solid $lightGrayishBlue;
    }

    form {
        width: 100%
    }

    input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-size: 16px;
        color: $veryDarkGrayishBlue;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $darkGrayishBlue
        }
    }

    &.darkTheme {
        background-color: $veryDarkDesaturatedBlue;

        .circle {
            border-color: $darkThemeDarkGrayishBlue;
        }

        input {
            color: $darkThemeLightGrayishBlue
        }
    }
}

@media screen and (min-width: 600px) {
    .container {
        padding: 20px;

        .circle {
            width: 30px;
            min-width: 30px;
            height: 30px;
            margin-right: 20px;
        }

        input {
            font-size: 20px;
        }
    }
}