@import "./assets/scss/colors.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif, Roboto, "Helvetica Neue", sans-serif;
}

// constants

body {
    background-color: $veryLightGrayishBlue;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.successSnackBar {
    &.mat-mdc-snack-bar-container .mdc-snackbar__surface {
        background-color: #4caf50;
    }
}

.errorSnackBar {
    &.mat-mdc-snack-bar-container .mdc-snackbar__surface {
        background-color: #f44336;
    }
}

mat-spinner {
    margin: 0 auto;
    

    &.darkTheme {
        --mdc-circular-progress-active-indicator-color: white !important;
    }
}